@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #1d1506;
  background-color: #f4f5f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

.custom-button-simple {
  @apply cursor-pointer hover:bg-gray-200 py-2 px-3 rounded-md;
}

.link-primary {
  @apply text-primary hover:underline;
}

.link-muted {
  @apply text-muted hover:underline;
}

code, pre{
  @apply bg-gray-150 px-1.5 py-1 rounded-md text-pink-600;
}

pre {
  @apply px-4 py-4 my-4
}
